* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bee3e3;
  font-family: "Raleway", sans-serif;
}

header {
  width: 100vw;
}
header .logo {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #bee3e3;
}
header .logo nav {
  width: 100%;
  height: 10vh;
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 25px;
  color: #D57E7E;
  padding: 3vh;
  font-weight: bolder;
}
header .section {
  width: 100%;
  height: 60vh;
  background-image: url("https://images.pexels.com/photos/6620948/pexels-photo-6620948.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
header .section div {
  width: 70%;
  height: 30%;
  background-color: rgba(33, 34, 30, 0.4);
  text-align: center;
  border-radius: 20px;
  border: 15px double #bed063;
  padding: 10px;
}
header .section div h1 {
  color: white;
  font-size: 35px;
  margin-bottom: 10px;
}
header .section div p {
  color: white;
  font-size: 20px;
}

article {
  width: 100vw;
}
article .texto {
  width: 80%;
  margin: 5vh auto;
  line-height: 1.5;
}
article .texto h2 {
  text-align: center;
  color: whitesmoke;
}
article .texto h3 {
  text-align: center;
  color: #f6d293;
}
article .texto p {
  text-align: justify;
}
article .servicios {
  width: 100%;
}
article .servicios .img {
  width: 90%;
  height: 60vh;
  margin: auto;
  background-attachment: fixed;
  background-image: url("https://images.pexels.com/photos/6187837/pexels-photo-6187837.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: bottom;
  background-size: cover;
  border-radius: 15px;
}
article .servicios .servicios-texto {
  width: 80%;
  margin: auto;
  line-height: 1.5;
}
article .servicios .servicios-texto h3 {
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 2vh 0;
}
article .servicios .servicios-texto p {
  text-align: justify;
}
article .servicios .servicios-titulo {
  width: 100%;
  height: 30vh;
  background-color: #252323;
  padding-top: 5vh;
  margin-top: 3vh;
}
article .servicios .servicios-titulo h2 {
  text-align: center;
  color: #bed063;
  font-size: 30px;
  text-shadow: 0 0 5px black;
}
article .servicios .servicios-lista {
  width: 80%;
  height: 40vh;
  margin: 3vh auto;
  text-align: center;
  background-color: whitesmoke;
}
article .servicios .servicios-lista img {
  width: 100%;
  height: 70%;
}
@keyframes boton {
  0% {
    stroke-dashoffset: 1000;
  }
  25% {
    stroke-dashoffset: 600;
  }
  50% {
    stroke-dashoffset: 200;
  }
}
article .servicios .servicios-lista button {
  border: none;
  position: relative;
  top: -3.5vh;
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  background-color: #D57E7E;
}
article .servicios .servicios-lista button a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 2;
}
article .servicios .servicios-lista button svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
article .servicios .servicios-lista button svg rect {
  width: 100%;
  height: 100%;
  stroke: #bed063;
  stroke-width: 10px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-name: boton;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
article .servicios .uno {
  margin-top: -15vh;
}/*# sourceMappingURL=style.css.map */